%h1 Propietarios registrados
#buscarproducto
  = form_tag(owners_path, method: "get") do
    = text_field_tag(:q, nil, :placeholder => "Buscar propietario")
%br
#ownerdevices
  %table.ui-grid-content.ui-widget-content
    %thead
      %tr
        %th.ui-state-default Clave
        %th.ui-state-default Nombre
        %th.ui-state-default Tipo
        %th.ui-state-default Programa Educativo
    - if !@owners.nil?
      - @owners.each do |owner|
        %tbody
          %tr
            %td.ui-widget-content= link_to owner.clave, owner
            %td.ui-widget-content= link_to owner.nombre, owner
            %td.ui-widget-content= owner.tipo
            %td.ui-widget-content= owner.pe
%br/
