#dispositivoForm
  - if flash[:notif]
    %h4#notif.alert_info= flash[:notif]
  - if flash[:notice]
    %h4#notinfo.alert_success= flash[:notice]
  - if flash[:error]
    %h4#noterror.alert_error= flash[:error]
  - if !@device.errors.blank?
    %ul
      - @device.errors.messages.each do |msg|
        %li= msg
  = form_for(@device, remote: true, :html => { :class => "dispositivoform"}) do |f|
    #searchDevice
      %span.searchContainer
        = f.hidden_field :id
        - if @device.devicetoken.nil?
          %input{value: "", placeholder: "Código generado", readonly: "readonly", class: "deviceidtext", id: "claveGen"}
        - else
          %input{value: @device.devicetoken, placeholder: "Código generado", readonly: "readonly", class: "deviceidtext", id: "claveGen"}
      %span.addNew
        - if @device.id
          = link_to image_tag("barcode.png", :border => 0), printbarcode_devices_path(:id => @device.devicetoken), :remote => false, :class => "imageLink printBarCode", :title => "Imprimir código de dispositivo"
        - else
          = image_tag "barcode.png"
    %div
      #contenedorImagenView
        - if !@device.owner.id.nil?
          - if @device.owner.hasPicture
            = link_to image_tag("/userpics/" + @device.owner_id.to_s + ".jpg"), takepicture_devices_path(:id =>@device.devicetoken), :remote => false, :class => " takepicture", :title => "Cambiar foto del propietario"
          - else
            = link_to image_tag("user.png"), takepicture_devices_path(:id => @device.devicetoken), :remote => false, :class => " takepicture", :title => "Tomar foto del propietario"
        - else
          = image_tag "user.png"
        %br/
        %span Propietario
      #datosPropietario
        = fields_for @device.owner do |p|
          = p.hidden_field :id
          = p.text_field :clave, :required=>"required", :autofocus=>"autofocus", :placeholder => "No. Control o Clave de Personal"
          = p.text_field :nombre, :required=>"required", :placeholder => "Nombre del propietario"
          = p.select(:pe, [["Programa Educativo", ""],"Administración", "Alimentos", "Contaduría", "Paramédico","TIC"])
      #datosDevice
        = f.select(:tipo, [["Tipo de dispositivo", ""],"Laptop", "Cañon", "Cámara", "CPU","Monitor", "Impresora"], :required => "required")
        = f.select(:marca, [["Marca", ""], "Acer", "Apple", "Asus","Dell", "HP", "Lanix","Lenovo", "Samsung","Sony", "Otra"], :required => "required")
        = f.text_field :noserie, :required=>"required", :placeholder => "No. de Serie"
        = f.text_field :color, :placeholder => "Color"
        = f.text_field :nota, :placeholder => "Noda adicional (opcional)"
      .clearLine
      .formDisOptions
        = f.submit "Guardar", :class=>"botonOk"
        = succeed "" do
          = link_to "Atrás", :back, :id=>"#cancelsavedisp", :class => "botonCancel modal-link"