<!DOCTYPE html>
	<head>
		<meta lang="ES">
		<meta charset="utf-8">
		<title>Check - in</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<span class="logo">
				<%= link_to image_tag("logo.png"), entries_path %>

			</span>
			<span class="title">
				<h1>Check - in</h1>
			</span>
			<span id="formContainer">
			<%= form_tag search_devices_path, :id=>"searchForm", :remote=>"true", :method => 'post' do %>
         <%= text_field_tag :id, params[:id], :placeholder => "Buscar...", :value => "" %>
         <% end %>

				<div class="opciones">
					<%= link_to image_tag("list.png"), logs_entries_path, :remote => "true", :class => "imageLink" %>
						<%= link_to image_tag("new.png"), new_device_path, :remote => "true", :class => "imageLink" %>
					<a href="#" id="reportOpt" title="Reportar fallo de la aplicación" class="imageLink"><%= image_tag "send.png" %></a>
				</div>
			</span>
			</div>
		</header>
		<article id="mainContent">
		<%= yield %>
		</article>
		<div class="clearLine"></div>
		<footer>
			<p>Por <a href="mailto:afelipelc@gmail.com">AFelipe</a>  |  2014</p>
		</footer>
	</body>
</html>