<!DOCTYPE html>
	<head>
		<meta lang="ES">
		<meta charset="utf-8">
		<title>Check - in</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<span class="logo">
				<%= link_to image_tag("logo.png"), root_path %>

			</span>
			<span class="title">
				<h1>Check - in</h1>
			</span>
			<span id="formContainer">
			<%= form_tag search_devices_path, :id=>"searchForm", :method => 'post' do %>
         <%= text_field_tag :id, params[:id], :placeholder => "Buscar...", :value => "" %>
         <% end %>

				<div class="opciones">
					<%= link_to image_tag("scanner48.png"), root_path, :class => "imageLink", :title => "Registrar ingreso/egreso"%>
					<%= link_to image_tag("today.png"), logs_entries_path, :remote => "true", :class => "imageLink", :title => "Ver registros de ingresos/egresos" %>
					  <%= link_to image_tag("view_list.png"), devices_path, :class => "imageLink", :title => "Ver dispositivos" %>
						<%= link_to image_tag("new.png"), new_device_path, :remote => "true", :class => "imageLink", :title => "Registrar dispositivo" %>
				</div>
			</span>
			</div>
		</header>
		<article id="mainContent">
		<%= yield %>
		</article>
		<div class="clearLine"></div>
		<footer>
			<p>Por <a href="http://www.utim.edu.mx">UTIM :: TIC</a>  |  2014</p>
		</footer>
	</body>
</html>